<!DOCTYPE>
<html>
    <head>
        <title>BLOGIFYTHON</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css?family=Avenir" rel="stylesheet">
    	<link rel="icon" href="/codeicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="/codeicon.ico" type="image/x-icon"/>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!-- <div class="ui segment"> -->
            <div class="ui inverted menu">
                <div class="item">
                    <a href="/" class="ui header" style="color: white;"><i class="code icon"></i>BLOGIFYTHON</a>
                </div>
                <div class="ui right dropdown item" id="MenuBtn">
                    <i class="bars icon"></i>
                    <div class="menu" id="menuItems" style="width: 350px; height: 300px; background-color: rgba(0, 0, 0, 0.9);">
                        <% if(currentUser){ %>
                            <div class="item" style="width: 100%; text-indent: 10px;"><a style="font-weight: bolder; font-size: 20px;" href="#"><i class="user icon"></i>   <%= currentUser.username %></a></div>
                        <% } %>
                        <div class="item" style="width: 100%; text-indent: 10px;"><a style="font-weight: bolder; font-size: 20px;" href="/"><i class="home icon"></i>   HOME</a></div>
                        <% if(!currentUser){ %>
                        <div class="item" style="width: 100%; text-indent: 10px;"><a style="font-weight: bolder; font-size: 20px;" href="/login"><i class="sign-in icon"></i>   LOGIN</a></div>
                        <div class="item" style="width: 100%; text-indent: 10px;"><a style="font-weight: bolder; font-size: 20px;" href="/register"><i class="user plus icon"></i>   REGISTER</a></div>
                        <% } else { %>
                        <div class="item" style="width: 100%; text-indent: 10px;"><a style="font-weight: bolder; font-size: 20px;" href="/blogs"><i class="file alternate icon"></i>   YOUR BLOGS</a></div>
                        <div class="item" style="width: 100%; text-indent: 10px;"><a style="font-weight: bolder; font-size: 20px;" href="/blogs/new"><i class="edit icon"></i>   NEW POST</a></div>
                        <div class="item" style="width: 100%; text-indent: 10px;"><a style="font-weight: bolder; font-size: 20px;" href="/logout"><i class="sign-out icon"></i>   LOGOUT</a></div>
                        <% } %>
                        <div class="item" style="position: absolute;bottom: 0;"><i class="copyright icon" style="color: wheat;"> 2020 - Abhinav Tomar</i></div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
        
        

        