<% include ./partials/header %>

<div id="welcome-container">
        <p>Welcome To BLOG APP</p>
        
        <a href="/blogs/new" class="ui inverted yellow huge button">CREATE A NEW POST</a>
        <br>
        <br>
        <div class="ui animated black huge button" tabindex="0">
             <a href="/blogs">
                    <div class="visible content">Your BLOGS</div>
                    <div class="hidden content">
                     <i class="right arrow icon"></i> 
                
                </div>
                </a>
        </div>
        
        
</div>

<% include ./partials/footer %>