<% include ./partials/header %>

<div id="welcome-container">
        <p>It seems that it is not the page you are searching for...Start Fresh</p>
        
        <div class="ui animated black huge button" tabindex="0">
             <a href="/">
                    <div class="visible content">Visit Our Home Page</div>
                    <div class="hidden content">
                     <i class="right arrow icon"></i> 
                
                </div>
                </a>
        </div>
        
        
</div>

<% include ./partials/footer %>